/* --- STYLES FOR ALL PAGES --- */
body {
  /* Typography */
  font-family: 'Staatliches';
  /* Visual */
  /* background-image: url("../imgs/gen.jpg"); */
  background-color: #344841;
  background-size: cover;
  background-repeat: repeat;
}

html {
  /* Positioning */
  position: relative;
  background-color: #344841;
  background-size: cover;
  background-repeat: repeat;
  /* Box-model */
  min-height: 100%;
}
main {
  margin: 80px 0;
}
/* add space for fixed nav */
main {
  margin: 80px 0;
}

/* create styles for use for all white main boxes */
.block {
  /* background-color: #464646; */
  background-color: #dad7cd;
  border-radius: 25px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 30px;
  margin-bottom: 30px;
  align-content: center !important;
}

.block-header {
  /* Typography */
  color: #464646;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 25px;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  align-content: center;
}
/* NAV START */
#logo {
  font-family: 'Staatliches' !important;
  /* Typography */
  font-size: 40px;
  font-weight: bold;
  color: #464646 !important;
  font-stretch: wider;
/* override bootstrap hover color and border */
.navbar-default .navbar-nav > li > a:hover {
  border-radius: 25px;

}

.navbar {
  background: #464646;
  background-image: url("../imgs/0.jpg") !important;
  border: #464646;
  border-radius: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;

}

/* media query for nav background color change */
@media only screen and (max-width: 767px) {
  .navbar-header {
    background-color: #464646;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
  }
}
/* END NAV */

.fad.fa-browser {
  /* align-content: center;
  align-items: center; */
  font-size: 60px;
  color: #3a5a40;
  text-align: center;

.fab.fa-github {
  align-content: center;
  align-items: center;
  font-size: 60px;
  color: #3a5a40;
  text-align: center;
}
.button {
  align-content: center;
  align-items: center;
  font-size: 100px;
  color: #3a5a40;
  text-align: center;
}
/* CONNECT W/ ME CSS */
.connect-header {
  /* Typography */
  font-size: 25px;
}

.connect-photo {
  /* Box-model */
  width: 55px;
  height: 55px;
}

#images {
  /* Box-model */
  padding-top: 15px;
  align-items: center;

  /* Typography */
  text-align: center;
}
/* CONNECT W/ ME CSS */
.connect-header {
  /* Typography */
  font-size: 25px;
}

.connect-photo {
  /* Box-model */
  width: 55px;
  height: 55px;
}

#images {
  /* Box-model */
  padding-top: 15px;
  align-items: center;

  /* Typography */
  text-align: center;
}
/* END CONNECT W/ ME */





/* ABOUT-ME PAGE */
.about-me-header {
  /* Positioning */
  margin-bottom: 33px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  /* Typography */
  font-size: 32px;
  font-weight: bolder;
  color: #2E2E2E;
}

#about-image {
  /* Positioning */
  float: left;

  /* Box-model */
  width: 200px;
  margin: 0 20px 10px 0;
  border-radius: 25px;
  box-shadow: #2E2E2E;

}
/* END ABOUT-ME PAGE */
/* END CONTACT FORM PAGE */

